/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    General
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  letter-spacing: .05em;
}

h2 {
  color: #4A4A4A;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

img {
  width: 100%;
}

hr {
  width: calc(100% - 30px);
  align-self: center;
  border: 0;
  border-top: 1px solid #E8E8E8;
  background-color: #FAFAFA;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

header {
  background-color: #FAFAFA;
}

/* %%%%%%%%%% Navigation %%%%%%%%%% */
header nav {
  padding: 20px;
}

h1 {
  letter-spacing: .1px;
}

h1, .top-nav {
  text-align: center;
  font-weight: 900;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: .01rem;
}

.top-nav, .top-nav li {
  width: 100%;
}

.top-nav a {
  text-transform: uppercase;
}

/* %%%%%%%%%% Intro %%%%%%%%%% */
.intro {
  text-align: center;
  padding: 20px;
  color: #7F7F7F;
}

.intro img {
  max-width: 70%;
}

.intro p {
  margin: 20px auto;
  line-height: 1.5;
  letter-spacing: -0.02rem;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Main
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

main {
  /* background-color: coral; */ /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

main h2 {
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

/* %%%%%%%%%% Portfolio %%%%%%%%%% */
section#portfolio {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1024px;
}

#portfolio h2 {
  margin: 40px 0;
}

.container {
  /* background-color: cornflowerblue; */ /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.col {
  margin: 35px 10px;
  padding-bottom: 15px;
  min-height: 250px;
  text-align: center;
}

.col h3 {
  margin: 20px 0 15px;
  font-weight: 600;
  letter-spacing: -0.03rem;
}

.col p {
  margin: 10px;
  font-size: 0.875rem;
}

.box-1 {
  background-color: white; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-2 {
  background-color: white; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-3 {
  background-color: white; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-4 {
  background-color: white; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-5 {
  background-color: white; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-6 {
  background-color: white; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

/* %%%%%%%%%% Contact %%%%%%%%%% */
#contact {
  padding: 60px 20px 50px;
  text-align: center;
  color: #7F7F7F;
  background-color: #FAFAFA;
}

#contact h2 {
  margin-bottom: 30px;
}

#contact p {
  margin-bottom: 30px;
  letter-spacing: -0.04rem;
}

#contact li {
  margin: 15px 0;
}

#contact a {
  margin-left: 10px;
  font-weight: bold;
  color: #7F7F7F;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Footer
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 30px 15px;
  height: 100px;
  background-color: #FAFAFA;
}

footer h2 {
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: -0.02;
}

.footer-nav {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: -0.03rem;
}

.full {
  display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Media Queries
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media screen and (min-width: 768px) {
  /* %%%%%%%%%% Navigation %%%%%%%%%% */
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #fff;
  }

  /* %%%%%%%%%% Portfolio %%%%%%%%%% */
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    flex-basis: calc(50% - 20px);
  }

  /* %%%%%%%%%% Footer %%%%%%%%%% */
  .top {
    display: none;
  }

  .full {
    display: inline-block;
    margin-left: 20px;
  }

}

@media screen and (min-width: 1024px) {
/* %%%%%%%%%% Navigation %%%%%%%%%% */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav,
.top-nav li {
  width: initial;
  margin-bottom: 0;
}

/* %%%%%%%%%% Portfolio %%%%%%%%%% */
.col {
  flex-basis: calc(33.333% - 20px);
}

/* %%%%%%%%%% Footer %%%%%%%%%% */

  
}