/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Global styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  background-color: #FAFAFA;
}

body {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #4A4A4A;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

a:hover,
#contact a:hover {
  color: #ffbb00;
  text-decoration: underline;
}

img {
  width: 100%;
}

hr {
  width: calc(100% - 30px);
  align-self: center;
  border: 0;
  border-top: 1px solid #E8E8E8;
  background-color: #FAFAFA;
}


/* Text styles */
.top-nav li,
h2,
.col p {
  font-size: 0.875rem;
}


h1,
footer h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}

nav li,
main h2 {
  font-weight: 800;
  text-transform: uppercase;
}

nav li,
.col h3 {
  letter-spacing: -0.03rem;
}


.intro p,
#contact p {
  letter-spacing: -0.02rem;
  line-height: 1.5;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Header styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

header {
  background-color: #FAFAFA;
  text-align: center;
}

/* %%%%%%%%%% Navigation %%%%%%%%%% */
header nav {
  padding: 20px;
  background-color: #9AA8DE;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  margin: 5px auto;
  padding: 10px 0;
  background-color: #fff;
}

.top-nav, .top-nav li {
  width: 100%;
}

/* %%%%%%%%%% Intro %%%%%%%%%% */
.intro {
  padding: 20px;
  margin: 0 auto;
  max-width: 1024px;
  color: #7F7F7F;
}

.intro img {
  max-width: 70%;
}

.intro p {
  margin: 20px auto;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Main styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
main {
  text-align: center;
}


main h2 {
  color: #342647;
}

section#portfolio,
section#skills {
  padding: 10px;
  margin: 0 auto;
  max-width: 1024px;
  background-color: #fff;
}

#portfolio h2,
#skills h2 {
  margin: 40px 0;
}

.col {
  margin: 30px 10px;
  padding-bottom: 20px;
}

.col:hover {
  box-shadow: 0 0 20px 1px #000;
}

.col h3 {
  color: #584177;
  font-weight: 600;
}

.col p {
  margin: 0 auto;
  max-width: 90%;
}

/* %%%%%%%%%% Portfolio %%%%%%%%%% */
#portfolio col {
  min-height: 250px;  
}

#portfolio h3 {
  margin: 20px 0 15px;
}

/* %%%%%%%%%% Skills %%%%%%%%%% */
#skills div.col {
  padding-top: 20px;
}

#skills col {
  min-height: 150px;
}
#skills h3 {
  margin: 0 auto 20px;
}

/* %%%%%%%%%% Contact %%%%%%%%%% */
#contact {
  padding: 60px 0 50px;
  color: #7F7F7F;
  background-color: #FAFAFA;
}

#contact h2 {
  margin-bottom: 30px;
}

#contact p {
  margin: 0 auto 30px;
  max-width: 90%;
}

#contact li {
  margin: 15px 0;
}

#contact a {
  margin-left: 10px;
  font-weight: bold;
  color: #7F7F7F;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Footer styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 30px 15px;
  height: 100px;
  background-color: #FAFAFA;
}

footer nav {
  font-size: 0.825rem;
}

.full {
  display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Media Queries
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media screen and (min-width: 768px) { /* Tablet screen sizes */
  /* %%%%%%%%%% Header %%%%%%%%%% */
  header nav {
    padding: 50px 30px 20px;
  }

  .top-nav {
    margin-top: 15px;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  div.intro {
    padding: 20px 30px 50px;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
  }

  .intro img{
    max-width: 40%;
  }

  .intro p {
    max-width: 60%;
    padding-right: 20px;
    margin: 0;
    font-size: 1.25rem;
  }

  /* %%%%%%%%%% Main %%%%%%%%%% */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .col {
    flex-basis: calc(50% - 8px);
    margin: 0 0 35px;
  }

  .container p {
    margin: 10px auto 0;
    max-width: 75%;
  }

  #contact {
    font-size: 1.25rem;;
  }

  #contact p {
    max-width: 70%;
  }

  hr {
    width: calc(100% - 60px);
  }

  /* %%%%%%%%%% Footer %%%%%%%%%% */
  footer {
    padding: 30px 30px 80px;
  }

  .top {
    display: none;
  }

  .full {
    display: inline-block;
    margin-left: 20px;
  }

}

@media screen and (min-width: 1024px) { /* Desktop screen sizes */
/* General */
nav li {
  font-weight: 700;
}

/* %%%%%%%%%% Header %%%%%%%%%% */
header nav {
  padding: 70px 70px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

.top-nav,
.top-nav li {
  width: initial;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  letter-spacing: -0.05rem;
}

div.intro {
  padding: 20px 70px 70px;
}

.intro p {
  font-size: 1.3rem;
}

/* %%%%%%%%%% Main %%%%%%%%%% */
main h2 {
  font-size: 1rem;
}

section#portfolio,
section#skills {
  max-width: 964px;
}

div.container {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0;
}

.col {
  flex-basis: calc(33.333% - 10px);
  margin-bottom: 40px;
}

.col p {
  max-width: 85%;
  font-size: 1rem;
}

#contact {
  font-size: 1.3rem;
}

#contact p {
  max-width: 55%;
}

#contact a {
  font-weight: 800;
}

hr {
  width: calc(100% - 120px);
}

/* %%%%%%%%%% Footer %%%%%%%%%% */
  footer {
    padding: 30px 60px;
  }
}