* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: black;
}

nav {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  padding: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

header {
  background-color: #FAFAFA;
}

/* %%%%%%%%%% Navigation %%%%%%%%%% */
h1, .top-nav {
  text-align: center;
  font-weight: 900;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: .02rem;
}

.top-nav, .top-nav li {
  width: 100%;
}

.top-nav a {
  text-transform: uppercase;
}

h1 a, .top-nav a {
  color: #4A4A4A;
}

/* %%%%%%%%%% Intro %%%%%%%%%% */
.intro {
  text-align: center;
  padding: 20px;
  color: #7F7F7F;
}

.intro img {
  max-width: 70%;
}

.intro p {
  margin: 20px auto;
  line-height: 1.5;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Main
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

main {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1024px;
  font-family: 'Roboto', sans-serif;
  background-color: cornflowerblue; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

main h2 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

/* %%%%%%%%%% Portfolio %%%%%%%%%% */
h2#portfolio {
  margin: 40px 0;
}

.container {
  background-color: antiquewhite;
}

.col {
  margin: 10px;
  min-height: 250px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.box-1 {
  background-color: #093145; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-2 {
  background-color: #3C6478; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-3 {
  background-color: #107896; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-4 {
  background-color: #829356; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-5 {
  background-color: #C2571A; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

.box-6 {
  background-color: #9A2617; /* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}

/* %%%%%%%%%% Contact %%%%%%%%%% */
#contact {
  margin: 10px;
  background-color: coral;/* XXXXXXXXXXXXXXXXXX DELETE XXXXXXXXXXXXXXXXXXXXX */
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Footer
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: #107896;
}

.footer-nav {
  text-transform: uppercase;
}

.full {
  display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Media Queries
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@media screen and (min-width: 768px) {
  /* %%%%%%%%%% Navigation %%%%%%%%%% */
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #fff;
  }

  /* %%%%%%%%%% Portfolio %%%%%%%%%% */
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    flex-basis: calc(50% - 20px);
  }

  /* %%%%%%%%%% Footer %%%%%%%%%% */
  .top {
    display: none;
  }

  .full {
    display: inline-block;
    margin-left: 20px;
  }

}

@media screen and (min-width: 1024px) {
/* %%%%%%%%%% Navigation %%%%%%%%%% */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav,
.top-nav li {
  width: initial;
  margin-bottom: 0;
}

/* %%%%%%%%%% Portfolio %%%%%%%%%% */
.col {
  flex-basis: calc(33.333% - 20px);
}

/* %%%%%%%%%% Footer %%%%%%%%%% */

  
}